/******************************************************************

Stylesheet: Nediun Stylesheet

Styles apply to 40.063em and up.

******************************************************************/


	
/*********************
NAVIGATION STYLES
*********************/
.top-bar-section ul li {
	float: right;
}

.dropdown li a {
	color: #fff !important;
}

.dropdown li a:hover,
.dropdown li a:active {
	background: #999 !important;
	color: #CCC !important;
}

.contain-to-grid.fixed .top-bar {
	margin-top: 0;
	background: $primary-color;
}

.fixed .top-bar-section li a {
	color: #fff;
}

.fixed .top-bar-section li.active:not(.has-form) a:not(.button) {
	color: #ccc;
}

.fixed .top-bar-section .has-dropdown > a:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(255, 255, 255, 0.8) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-right: 5px inset rgba(0, 0, 0, 0);
    border-style: solid inset inset;
    border-width: 5px;
    content: "";
    display: block;
    height: 0;
    margin-top: -2.5px;
    top: 22.5px;
    width: 0;
}

.fixed .top-bar-section .has-dropdown > a:hover:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-right: 5px inset rgba(0, 0, 0, 0);
    border-style: solid inset inset;
    border-width: 5px;
    content: "";
    display: block;
    height: 0;
    margin-top: -2.5px;
    top: 22.5px;
    width: 0;
}

/*********************
HOME PAGE STYLES
*********************/

.social-icons .inline-list>li {
	margin-bottom: .5rem;
}

.social-icons:not(.textwidget .social-icons) .inline-list>li {
	margin-left: 1rem;
	width: 64px;
	height: 64px;
	line-height: 64px;
}

.social-icons:not(.textwidget .social-icons) li a:after {
	line-height: 64px;
}

.social-icons:not(.textwidget .social-icons) .inline-list>li:hover a {
	top: -64px;
}

/*********************
POSTS & CONTENT STYLES
*********************/

/* entry content */
.entry-content {
			
	
	/* at this larger size, we can start to align images */
	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
} /* end .entry-content */

/*********************
SIDEBARS & ASIDES
*********************/

.widget {
	padding: 0 10px;
	margin: 2.2em 0;
}

.home-widget-container .widget {
	padding: 0;
	margin: 0;
}

/*********************
FOOTER STYLES
*********************/
	
/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer-links {
	ul {
		li {}
	}
} /* end .footer-links */
			
/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/